.footer{ 
    width: 100%;
    min-height: 7rem;  
    display: flex;  
    flex-direction: row;  
    justify-content: center; 
    align-items: center; 
}

.footer i{
    margin: 0 5rem;
    color: white;
} 
i:hover{
    color: black !important;
}