<section class="products">
    <h1>Our Products</h1>
    <div class="items">
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        
        <app-item-card></app-item-card>
        
        <app-item-card></app-item-card>
        
        <app-item-card></app-item-card>
    
        
        <app-item-card></app-item-card>
        
        <app-item-card></app-item-card>
        
        <app-item-card></app-item-card>
        
        <app-item-card></app-item-card>
        
        <app-item-card></app-item-card>
        
        <app-item-card></app-item-card>
    
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
    </div>
</section>

