.sectionSettings { 
  width: 80%;
    margin: 10rem auto; 
    height: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
  }
  
  .pictureSettings {
    max-width: 33%; 
    width: auto; 
    height: fit-content;
    margin: 0 4rem; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }
  